*{
    color: red;
}
    
body{
    background-color: black;
}
h1{
    text-align: center;
    font-size: 55px;
    color: #b53d93;
    margin: 2px;
}

h2{
    border: 1px;
    color: rgb(255, 255, 255);
}


img{
    display: inline-block;
    margin: 2px;
    border: 2px; 
    width: 200px;
    height: 200px;
}
.div_0{
    width: 800px;
    margin: 10px auto;
}
.div_1{
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}
.div_2{
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}
.div_3{
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}
.p_0{
    text-align: center;
    background-color: #b53d93;
    color: black;
    width: 800px;
    font-size: 30px;
}
.p_1{
    text-align: center;
    background-color: rgb(132, 8, 8);
    color: rgb(252, 252, 252);
}